/**
 * Issue box for showing Open/Closed state:
 * Used for Issue#show page, MergeRequest#show page etc
 *
 */

.status-box {

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  padding: 5px 11px;
  margin-top: 4px;
  /* Small devices (tablets, 768px and up) */
  @include media-breakpoint-up(sm) {
    padding: 0 $gl-btn-padding;
    margin-top: 5px;
  }

  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 10px;
  color: $white-light;
  font-size: $gl-font-size;
  line-height: 25px;

  &.status-box-closed,
  &.status-box-mr-closed {
    background-color: $gl-danger;
  }

  &.status-box-issue-closed,
  &.status-box-mr-merged {
    background-color: $gl-primary;
  }

  &.status-box-open {
    background-color: $green-500;
  }

  &.status-box-expired {
    background-color: $orange-500;
  }

  &.status-box-upcoming {
    background: $gl-text-color-secondary;
  }

  &.status-box-milestone {
    color: $gl-text-color;
    background: $gray-darker;
  }
}
